<h1 class="display-1 centered">Graphical Web Crawler</h1>

	<form>

	<div class="row">
	<div class="col-md-3"></div>
	<div class="form-group col-md-6">
    	<label for="start">Starting webpage:</label>
    	<input type="text" class="form-control" ng-model="data.start" required>
  	</div>
	</div>

	<div class="row">
	<div class="col-md-3"></div>
  	<div class="form-group col-md-6">
    	<label for="search">Search method:</label>
    	<select class="form-control" ng-model="data.search" required>
      		<option value="dfs">Depth-First Search</option>
      		<option value="bfs">Breadth-First Search</option>
    	</select>
  	</div>
  	</div>

  	<div class="row">
	<div class="col-md-3"></div>
  	<div class="form-group col-md-6">
    	<label for="limit">Numeric limit:</label>
    	<input type="number" class="form-control" ng-model="data.limit" required min="1">
  	</div>
  	</div>

  	<div class="row">
	<div class="col-md-3"></div>
  	<div class="form-group col-md-6">
    	<label for="keyword">Keyword:</label>
    	<input type="text" class="form-control" ng-model="data.keyword">
  	</div>
  	</div>

  	<div class="centered">
  	<button type="submit" class="btn btn-primary" ng-click='submit()'>Submit</button>
  	</div>
  	
	</form>

	<div class="footer centered">
	<a href="" ng-submit="history()"><h5>View Previous Searches</h5></a>
	</div>