[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pyvirtualdisplay = "*"
"beautifulsoup4" = "*"
lxml = "*"
requests = "*"
request-html = "*"

[requires]
python_version = "3.6.6"
